<!DOCTYPE html>
<html ng-app="treeChat">
	<head>
		<title>Tree Chat</title>
		<meta charset="utf8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.min.css">
		<link rel="stylesheet" href="public/css/app.css">
	</head>
	<body ng-controller="TreeChatCtrl">
		<div class="container">
			<h1>Tree Chat</h1>
			<form class="form-inline" role="form" ng-submit="m.topics.add({text: m.newTopic, comments: []}); m.newTopic = ''">
				<div class="input-group">
					<input type="text" id="newtopic" class="form-control" placeholder="My new topic" ng-model="m.newTopic" />
					<div class="input-group-btn">
						<button type="submit" class="btn btn-primary">Create Topic</button>
					</div>
				</div>
			</form>
			<div class="panel panel-default" ng-repeat="topic in m.topics">
				<div class="panel-heading">
					<h3 class="panel-title">{{topic.text}}</h3>
				</div>
				<div class="panel-body">
					<div ng-repeat="comment in topic.comments" class="comment" ng-include="'render-comment.html'"></div>
					<hr />
					<form role="form" ng-submit="addComment(topic)">
						<div class="input-group">
							<input type="text" class="form-control" ng-model="topic.newComment" />
							<div class="input-group-btn">
								<button type="submit" class="btn btn-primary"><i class="fa fa-reply"></i></button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<script type="text/ng-template" id="render-comment.html">
			<i class="fa fa-reply pull-right comment-reply-btn" ng-click="comment.replying=!comment.replying"></i>
			<p>{{comment.text}}</p>
			<form role="form" ng-submit="addComment(topic, comment)" ng-show="comment.replying">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="comment.newComment" />
					<div class="input-group-btn">
						<button type="submit" class="btn btn-primary"><i class="fa fa-reply"></i></button>
					</div>
				</div>
			</form>
			<div style="margin-left: 15px;" ng-repeat="comment in comment.comments" class="comment" ng-include="'render-comment.html'"></div>
		</script>
	</body>
	<script src="public/js/lib/angular/1.2.0-rc.3/angular.min.js"></script>
	<script src="public/js/lib/angular/1.2.0-rc.3/angular-route.min.js"></script>
	<script src="http://cdn.firebase.com/v0/firebase.js"></script>
	<script src="http://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.js"></script>
	<script src="public/js/app.js"></script>
</html>
